@use "./variables" as *;

.card {
    background-color: $tertiary-color;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0 2px 4px rgb(0,0,0,1);

    .card-title {
        font-size: 30px;
        color: $primary-color;
    }

    .card-description {
        color: $secondary-color;
        margin: 20px 0;
    }

    .card-button {
        background-color: $secondary-color;
        color: $tertiary-color;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 10px;

        &:hover {
            background-color: $primary-color;
        }
    }
    /*.card-button:hover {
        background-color: $primary-color;
    }*/
}