// things repeated. i.e. colours /fonts etc //

$font-body: sans-serif;
$primary-color: dodgerblue;
$secondary-color: orange;
$tertiary-color: #fff;
$background-color: hotpink;
$gray-color: gray;
$black-color: black;
$lightgray-color: rgb(219, 219, 219);