@media screen and (min-width: 360px) {
    section {
        div {
            width: 100%;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, sans-serif;
  }
  
  *::selection {
    color: white;
    background-color: #1182eb;
  }

header {
    padding:15px;
}

  nav,
nav * {
  display: flex;
  justify-content: center;
  align-items: center;
}

  nav {
    justify-content: space-around;
    width: 100%;
    height: 50px;
    font-size: 3em;
  }

  #logo {
    width: 15%;
    height: 100%;
    color: rgb(41, 41, 63);
    font-weight: bold;
  }
  
  .button-1 {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(70, 51, 70);
    border: 2px solid #2e2e2e;
    height:fit-content;
    font-size: 0.5em;
  }

  h2, h4 {
    color: rgb(0, 200, 255);
    padding:10px;
  }

  h3 {
    text-align: center;
    color:rgb(59, 77, 82);
    padding:10px;
  }

  h5 { 
    text-align: center;
    color:rgb(59, 77, 82);
    font-size: 1em;
    padding: 20px;
    padding-top: 50px;

  }

  p {
    color:rgb(57, 70, 73);
    padding:10px;
  }
  
  body {
    background-color: rgb(251, 251, 251);
    max-width: 1400px;
    margin: auto;
  }

  .button-body {
    background-color: rgb(62, 55, 93); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    width: 100px;

}

  .card {
    padding:15px;
    text-align: center;
    margin:auto;
    display:inline-flexbox;
    justify-content: center;
    align-items:stretch;
  }


    .row-1 {
        display: flex;
        justify-content: space-evenly;
      }

      .row-2 {
        display: flex;
        justify-content: space-evenly;
      }

      .row-3 {
        display: flex;
        justify-content: space-evenly;
      }

      .row-4 {
        display: flex;
        justify-content: space-evenly;
      }

      

  footer {
    background-color: lightyellow;
    max-width: 1400px;
    margin: auto;
    text-align: center;
    margin: 0;
    padding: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    color: rgb(46, 42, 46);
    
  }
  