@use "./variables" as *;

.header {
    width: 100vw;
    height: 516px;
    margin: 30px 30px auto;

&__h1 {
        padding-top: 30px;
        font-size: 20px;
    }


&__h2 {
    font-size: 64px;
    line-height: 76.5px;
    padding-top: 20px;
}
}

.about {
    width: 100vw;
    height: 1281px;
    margin: 30px 30px auto;

&__h3 {
    font-size: 32px;
}

}

.footer {
    background-color: $color-black;
    height:216px;
    width: 428px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
&__email {
        padding-top: 20px;
        color: $color-white;
        
    }

}