@use "./variables" as *;
@use "./layouts";

.button {
    display: block;
    width: 100px;
    background-color: $color-secondary;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: $color-white;
  }
  
  .navigation {
    height: 10vh;
    background-color: $color-primary;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .logo {
      color: $color-white;
      font-size: 20px;
      font-family: $font-display;
    }
  }

  .intro {
    text-align: center;

    .heading {
      color: $color-primary;
      font-size: 50px;
    }

    .sub-heading {
      font-family: $font-display;
      font-size: 25px;
      margin: 20px 0;
    }

    .button {
        margin: 0 auto;
      }
  }

  .wave {
    fill-opacity: 1;
    fill: $color-primary;
    margin-bottom: -1px;
    vertical-align: bottom;
}

.form {
    background-color: $color-white;
    padding:20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    .input {
        margin-bottom: 20px;
    }
    
    .button {
        background-color: $color-primary-light;
        margin: 0 auto;
        width: 100%;
        border: none;
    }
}



/* my form not charlies - did not work as i couldnt center it and i didnt do it in the wave lol fml */

#fcf-form {
    display:flex;
    max-width: fit-content;
    border: 1px solid #000000;
    padding: 30px;
    padding-bottom: 10px;
    
}

.fcf-body {
    text-align: left;

}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.1rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}